.App {
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding-left:20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.footer {
  align-self: center;
  padding-bottom: 15px;
}